.DS_Store
downloads
build
dist
bin

benchmarks/log/
benchmarks/local.properties
benchmarks/cvs-*
benchmarks/svn-*
benchmarks/build
benchmarks/libs/dacapo-digest/*
benchmarks/dacapo.jar
benchmarks/avrora
benchmarks/bms/batik/deps
benchmarks/bms/eclipse/plugin/@dot
benchmarks/dacapo-*.jar
benchmarks/scratch/
benchmarks/agent/download
benchmarks/agent/*.csv
benchmarks/agent/working/
benchmarks/agent/lib/
benchmarks/agent/dacapo.jar
benchmarks/agent/src/org/dacapo/**/*.class
benchmarks/${build.target-jar}
benchmarks/${dist}

benchmarks/agent_uqac/*.log
benchmarks/agent_uqac/*.jar
benchmarks/agent_uqac/build
benchmarks/agent_uqac/scratch
